body {
    background: #4D6879;
  }

  h1 {
    text-align: center;
    color: white;
  }

  .correct-answer {
    animation: flashingColor 1s infinite alternate;
  }

  @keyframes flashingColor {

    0%,
    100% {
      color: red;
      /* 시작과 끝 색상 */
    }

    50% {
      color: yellow;
      /* 중간 색상 */
    }
  }



  .wrong-answer {
    color: green;
  }

  .normal-answer {
    color: black;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  .choice-container {
    opacity: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    /* 기본 상태는 투명 */
    /* 추가적인 스타일링이 필요하면 여기에 추가 */
  }

  .choice-container.visible {
    animation: fadeIn 0.5s forwards;
    /* 애니메이션 적용 */
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(20px);
      /* 시작할 때 위에서 아래로 내려오는 효과 적용 */
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .option {
    display: block;
    position: relative;
  }

  .option input[type="radio"] {
    margin-right: 10px;
  }

  #cbtForm {
    padding: 15px;
    margin-bottom: 40px;
  }

  .bottom {
    display: flex;
    justify-content: center;
  }

  .submit-button,
  #review-wrong-answers,#restart-button {

    width: 600px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 0;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 50px;
    border: 1px solid #000;
    background: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -moz-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -o-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -ms-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: linear-gradient(top, #3b3b3b 0%, #000000 100%);
    opacity: 0.5;
  }

  #restart-button,#review-wrong-answers{
    width: 100%;
  }

  .submit-button:hover,#review-wrong-answers:hover,#restart-button:hover {
    color: #ccc;
    cursor: pointer;
    opacity: 0.8;
  }

  .question-header {
    background: rgb(46, 58, 67);
    /* Orange color */
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  #question-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    margin: auto;

  }

  .select-container {
    display: flex;
    justify-content: center;
  }

  #results-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center;
  }


  #wrong-note-container {
    background-color: #f4f4f4;
    /* Light gray */
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
  }

  #wrong-note-container h2 {
    color: #333;
  }